{% extends 'base.html.twig' %}

{% block body %}
<p>Welcome to the lracicot\silex-template!</p>
<p>
  You can start by renaming the <code>MyApp</code> namespace to whatever you want, and don't forget to load your new application in <code>index.php</code>.
</p>
<p>
  All the views are located in <code>app/Resources/views</code>. You may want to change this twig configuration.
</p>
{% endblock %}
